html,body{max-width:100%;font:'FFDIN Regular',FFDIN,Arial,sans-serif;color:#222}
@font-face{font-family:myFirstFont;src:url(fonts/ffdin-black.woff) format("woff")}
body,h1,p,ul,li{margin:0;padding:0}
ul,li{list-style:none}
.nav{display:flex}
.headmain{width:100%;display:block}
.item_list{display:flex;flex-direction:column;width:300px;align-items:center}
.nav_item{color:#fff;text-decoration:none;padding:0 10% 0 5%;font-size:17px}
.lupa{width:2rem}
.header_label{display:flex;border:1px solid grey;padding:4px}
.nav_button_icon{background-color:rgba(0,0,0,0)}
.header_input{padding:4px;background-color:#181818;color:#fff}
.header_label{margin:0 0 0 45%}
.header{z-index:1;position:fixed;background-color:#181818;display:flex;align-items:center;width:100%;padding:.5% 1%}
.logo{color:#fff;text-decoration:none;font-size:18px;font-weight:700}
.footer{display:flex;background-color:#181818;align-items:center;flex:0 0 auto;padding:1rem 0 3rem 1rem}
.nav_icons{column-gap:20px;display:flex;padding:0 0 0 25px}
.section_title,.section_description{font:Arial,sans-serif}
.section_title{font-size:50px}
.section_description{font-size:25px;font-weight:700}
.gallery{margin:3% auto}
.collection{display:flex;position:relative;width:1150px;margin:0 auto;justify-content:space-around;flex-direction:row}
.otstup{margin:2% 0}
.arrow-left{left:0}
.arrow-right{right:0;transform:rotateY(180deg)}
.arrow{width:65%}
.items_pic{display:flex}
.arrow-right,.arrow-left{position:absolute;top:30%;font-size:0}
.background_pic{width:100%}
.div_background_pic{width:100%;height:fit-content;display:block;max-height:100%}
.item_link{text-decoration:none}
.item_name,.item_price{font-size:14px;color:#000;text-decoration:none;width:fit-content}
.item_price{font-weight:700}
.item_picture{width:197px}
.items_on_pic{position:absolute;margin:10% 0 0 100px;color:#fff;transform:translate(20%,50%)}
.shop_button{padding:13px 0;font-size:13px;text-align:center;font-weight:700;width:13rem}
.link_button{text-decoration:none}
.white_foot1{width:194px}
.buttons{margin:10px 0 0;column-gap:1px;display:flex}
.link_button + .link_button{margin:0 10px 0 20px}
.shahtar{color:#fff}
.logo_pumba{width:4rem;margin:0 0 0 10px}
.logo_div{align-items:center;width:8rem}
.div_footer{display:flex;flex-direction:column;width:70%}
.line{border:2px solid #fff;stroke:#FFF;width:35rem}
.div_line{margin:1rem;display:flex;column-gap:20px}
.helper{margin:1rem 0 0 1rem;display:flex;justify-content:space-between;width:80%}
a{text-decoration:none}
.helper_item{color:#818181;font-size:19px}
.helper1,.support_items,.helper2,.helper_item{display:flex;flex-direction:column}
.support{color:#fff;font-size:21px}
.skip{height:21px}